<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>editar usuario</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/actualizarUsua}" th:object="${usuario}" method="POST">
				<div class="card">
					<div class="card-header">
						<h3>Editar usuario</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
						
							<div>
								<label>NOMBRE</label> <input type="text" th:field="*{nombre}"  />
							</div>
							<div>
								<label>CONTRASEÑA</label> <input type="text" th:field="*{contrasenia}" />
							</div>
							<input type="hidden" th:field="*{id}"  />
							
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Actualizar" class="btn btn-success"/> <a th:href="@{/mostrarListaUsuarios}">Regresar</a>
					</div>
				 </div>
				
			</form>
		</div>
	</div>
	
</body>
</html>