<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vegan-app</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/templatemo-style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<!--
Parallo Template
https://templatemo.com/tm-534-parallo
-->
  </head>
  <body>
    <div class="parallax-window" data-parallax="scroll" data-image-src="img/productos.jpg">
      <div class="container-fluid">
        <div class="row tm-brand-row">
          <div class="col-lg-4 col-11">
            <div class="tm-brand-container tm-bg-white-transparent">
              <i class="fas fa-2x fa-pen tm-brand-icon"></i>
              <div class="tm-brand-texts">
                <h1 class="text-uppercase tm-brand-name">VeganApp</h1>
                <p class="small">Aplicación Vegana</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-1">
            <div class="tm-nav">
              <nav class="navbar navbar-expand-lg navbar-light tm-bg-white-transparent tm-navbar">
                <button class="navbar-toggler" type="button"
                  data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <div class="tm-nav-link-highlight"></div>
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <div class="tm-nav-link-highlight"></div>
                      <a class="nav-link" th:href="@{/services}">Servicios</a>
                    </li>
                    <li class="nav-item">
                      <div class="tm-nav-link-highlight"></div>
                      <a class="nav-link" th:href="@{/testimonials}">Testimonios</a>
                    </li>
                    <li class="nav-item">
                      <div class="tm-nav-link-highlight"></div>
                      <a class="nav-link" th:href="@{contact}">Contacto</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>

        <section class="row" id="tmHome">
          <div class="col-12 tm-home-container">
            <div class="text-white tm-home-left">
              <p class="text-uppercase tm-slogan">Vegan App</p>
              <hr class="tm-home-hr" />
              <h2 class="tm-home-title">Una App para todos</h2>
              <p class="tm-home-text">
                Vegan App es una aplicación vegana en la que con solo scanear un codigo de barra vas a ver si el producto no es de origen animal.
              </p>
              <a href="#tmFeatures" class="btn btn-primary">Leer mas</a>
            </div>
            <div class="tm-home-right">
              <form  th:action="@{/devolverOrigen}" th:object="${producto}" method="get">
				<div class="card">
					<div class="card-header">
						<h3>Ingrese codigo aqui</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
						
							<div>
								<label>INGRESE CODIGO DE PRODUCTO</label> <input  type="text" name="codigoProducto"  th:field="*{codigoProducto}" />
							</div>
							<div th:if="${producto.origen != null}">
								<label>Su origen es :</label> <input  type="text" name="origen"  th:value="${producto.origen}" />
							</div>
							
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Enviar" class="btn btn-success"/>
					</div>
				 </div>
				
			</form>

            </div>
          </div>
        </section>

        <!-- Features -->
        <div class="row" id="tmFeatures">
          <div class="col-lg-4">
            <div class="tm-bg-white-transparent tm-feature-box">
            <h3 class="tm-feature-name">Disponibilidad</h3>
            
            <div class="tm-feature-icon-container">
                <i class="fas fa-3x fa-server"></i>
            </div>

            <p class="text-center">Descargue esta app y usela en todos sus dispositivos.</p>
            </div>
          </div>

          

          <div class="col-lg-4">
            <div class="tm-bg-white-transparent tm-feature-box">
                <h3 class="tm-feature-name">Costo de la app</h3>

                <div class="tm-feature-icon-container">
                    <i class="fas fa-3x fa-satellite-dish"></i>
                </div>
                <p class="text-center">App gratuita version standar , en su version paga va a poder usar mas funcionalidades.
                </p>
            </div>
          </div>
        </div>
        

        <!-- Page footer -->
        <footer class="row">
          <p class="col-12 text-white text-center tm-copyright-text">
            Copyright &copy; 2021 pagina de inicio de la aplación. 
            Diseñado por  <a href="#" class="tm-copyright-link">Nahuel Girón</a>
          </p>
        </footer>
      </div>
      <!-- .container-fluid -->
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>